.conteiner{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(255, 255, 255);
}

.conteiner-contra{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 1500px;
min-height: 700px;
gap: 300px;
margin: 70px 50px 70px 50px ;
background-color: rgb(255, 255, 255);
}

.card{
width: 300px;
height:400px ;
background-color: rgb(122, 122, 122);
border-radius: 10%;
box-shadow: none;
transition: transform 2s ease-out, box-shadow 2s ease;
}

.card:hover{
    box-shadow: 5px 5px 5px black;
    transition: 2s;
    transform: translateY(-30px);
}

.up{
height: 50vh;
min-width: 20vh;
background-color: rgb(255, 0, 0);

}

.down{
height: 35vh;
min-width: 20vh;
background-color: rgb(255, 0, 0);
}

.logo{
    font-size: 3rem;
}

.podlogo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   padding: 10px;
    
}