body{
font-family: "Playfair Display", serif;
}



.conteiner{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(255, 255, 255);
}

.conteiner-contra{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 1500px;
min-height: 700px;
gap: 300px;
margin: 190px 50px 190px 50px ;
background-color: rgb(255, 255, 255);
}

.card{
width: 300px;
height:400px ;
background-color: rgba(209, 204, 204, 0.233);
border-radius: 10%;
box-shadow: none;
transition: transform 2s ease-out, box-shadow 2s ease;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.card:hover{
    box-shadow: 5px 5px 5px black;
    transition: 2s;
    transform: translateY(-30px);
}

.up{
height: 20vh;
min-width: 20vh;
background-color: rgb(151, 151, 151);
display: flex;
justify-content: space-between;
padding-right: 50px;
}

.down{
height: 21vh;
min-width: 20vh;
background-color: rgb(151, 151, 151);
}

.logo{
   width: 100px;
   height: 100px;
}

.logot{
    width: 150px;
    height: 150px;
    margin: 20px;
}

.podlogo{
    display: flex;
    
justify-content: center;
 align-items: center;
    
}

.fota{
  width: 150px;
  height: 150px;
  display: inline-block;
  
}
h1{
 display: inline-block;

}
.com{
    display: flex;
    align-items: flex-end;
}

.names{
display: flex;
gap:70px;

}

.sprite{
display: flex;
justify-content: space-evenly;
}

.together{
 display: flex;
 justify-content: center;
 align-items: center;
}

.link{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.poddown{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.podcest{
 font-size: 14px;
  margin: 5px ;
}